// Formulaire
.contact__form {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 15px;

    input, textarea {
        padding: 15px;
        border: 1px solid #e2e8f0;
        border-radius: 8px;
        font-family: inherit;
    }
}

// Skills
.skills {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
    &__badge {
        background: #e2e8f0;
        padding: 5px 15px;
        border-radius: 20px;
        font-size: 0.85rem;
        font-weight: 600;
    }
}